.button {
  display: inline-block;

  border-radius: 4px;
  padding: 0.5rem 1rem;
  margin-bottom: 0;
  outline: 0;

  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  text-decoration: none;
  text-align: center;

  cursor: pointer;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, transform 0.2s ease-in-out;

  background-color: $grey;
  color: $dark-grey;

  // STATES
  &:focus,
  &:hover {
    background-color: $dark-grey;
    color: $white;

    @media (hover: none) {
      color: $dark-grey;
      background-color: $white;
    }
  }
}
