// Local Variables
$blue: #272158;

.button {
  display: inline-block;

  border: 2px solid $blue;
  border-radius: 1.5rem;
  padding: rem-calc(6) rem-calc(30);
  outline: 0;

  font-size: 16px;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;

  cursor: pointer;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out,
    transform 0.2s ease-in-out;

  background-color: $blue;
  color: $white;

  // STATES
  &:hover {
    background-color: transparent;
    color: $blue;

    @media (hover: none) {
      color: $white;
      background-color: $blue;
    }
  }
}
