.login {
  display: flex;
  align-items: center;

  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  background-color: $white;

  transition: transform 0.2s ease-in-out;

  &.is-inactive {
    transform: translateY(-100%);
  }
}
