.page {
  padding-top: 1rem;

  &__next-date {
    display: block;
    padding-top: 1rem;

    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    line-height: 1.3;

    color: rgba($black, 0.6);
  }
}
